<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GNL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Get_Next_Line copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Get_Next_Line.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestGNL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED03A33621097BA000417069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED162D3920B904C500AA3F5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4DAFBB1FCD0AD700F5B191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDC9635D2006A2D300E39B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
